.Bank-office{
    height: 600px;
}
.colo-office{
    background-color: rgba(76, 156, 76, 0.92);
    height: 565px;
    width: 77em;
    margin: auto;
    display: flex;
    gap: 28em;
    border-radius: 2em;
}
.free-acc{
    font-family: "Bricolage Grotesque";
    margin-top: 0.5em;
    font-size: 0.1em;
    margin-left: -0.1em;
}
.no-fee{
    font-family: "Bricolage Grotesque";
    color: white;
    font-size: 1em;
    margin-top: 1.3em;
}
.payday{
    width: 15em;  
}
.house-logo{
    margin-left: 3em;
    margin-top: 3em;
}
.btn{
    width: 11.1em;
    height: 2.5em;
    font-size: 1.2em;
    font-weight: bold;
    background-color: white;
    border: none;
    border-radius: 8px;
    margin-top: 2em;
}
.ti{
    display: none;
}

@media screen and (max-width:500px){
    .colo-office{
        width: 22em;
        margin-top: -1em; 
    
    }
    .free-acc{
        display: none;
        
    }
    .phones{
        display: none;
    }
    .ti{
        font-size: 1.9em;
        display: flex;

    }
    .official{
        margin-top: -1em;
        
    }
    .vg{
        margin-top: 1em;
    }
    .Bank-office{
        
    }
    .card-house{
        margin-top: -1em;
    }
}
@media screen and (max-width:375px){
    .colo-office{
        width: 22em;
        margin-top: -1em; 
    
    }
    .free-acc{
        display: none;
        
    }
    .phones{
        display: none;
    }
    .ti{
        font-size: 1.9em;
        display: flex;

    }
    .official{
        margin-top: -1em;
        
    }
    .vg{
        margin-top: 1em;
    }
    .Bank-office{
        
    }
    .card-house{
        margin-top: -1em;
    }
}
