.card-house{
    height: 600px;
    border: 1px solid;
}
.card-move{
    border: 1px solid purple;
}
.moving-card{
    background-color: black;
    height: 565px;
    width: 77em;
    margin: auto;
    color: dark;
    display: flex;
    gap: 28em;
    border-radius: 2em;
    
    
}
.pay{
    width: 20em;
    margin-top: 5em;
}
.card-logo{
    margin-left: 3em;
    margin-top: 3em;
}
.no-fee{
    font-size: 1.2em;
    color: white;
    font-family:"Bricolage Grotesque";
    line-height: 1.6;
    margin-top: 1.3em;
}
.free-acc{
    font-family: "Bricolage Grotesque";
    margin-top: 0.5em;
    font-size: 3.2em;
}