.city-relaxation{
    height: 600px;
}
.citi{
    width: 36em;
    
    
}
.paid{
    width: 31em;
    margin-left: 5em;
    
}
.homes{
    background-color: whitesmoke;
    width: 38em;
    border-radius: 2em;
}
.relax{
    background-color: whitesmoke;
    width: 38em;
    border-radius: 2em;
}
.two-containers{
    display: flex;
    gap: 2em;
    padding: 0.1em 7.5em 0.1em 7.5em;
}
.friends{
    font-family: "Bricolage Grotesque";
    color: black;
    margin-top: 0.5em;
    font-size: 3.3em;
    margin-left: 0.7em;
}
.stage{
    font-family: "Bricolage Grotesque";
    color: black;
    font-size: 1.5em;
    margin-top: 1em;
    margin-left: 1.3em;
}
.lancer{
    font-family: "Bricolage Grotesque";
    color: black;
    margin-top: -0.4em;
    font-size: 3.3em; 
    margin-left: 0.7em;
}
.fast{
    font-family: "Bricolage Grotesque";
    color: black;
    font-size: 1.5em;
    margin-top: 1em;
    margin-left: 1.3em;
}