
.cities{
    height: 750px;
}
.citi{
    width: 36em;
}
.paid{
    width: 31em;
    margin-left: 5em;
    
}
.homes{
    background-color: whitesmoke;
    width: 37em;
    border-radius: 2em;
    height: 45em;
}
.relax{
    background-color: whitesmoke;
    width: 37em;
    height: 45em;
    border-radius: 2em;
}
.two-containers{
    display: flex;
    gap: 2.8em;
    align-items: center;
    justify-content: center;
}
.friends{
    font-family: "Bricolage Grotesque";
    color: black;
    margin-top: 0.5em;
    font-size: 3.1em;
    margin-left: 0.7em;
}
.stage{
    font-family: "Bricolage Grotesque";
    color: black;
    font-size: 1.4em;
    margin-top: 1em;
    margin-left: 1.3em;
}
.lancer{
    font-family: "Bricolage Grotesque";
    color: black;
    margin-top: -0.4em;
    font-size: 3.1em; 
    margin-left: 0.7em;
}
.fast{
    font-family: "Bricolage Grotesque";
    color: black;
    font-size: 1.4em;
    margin-top: 1em;
    margin-left: 1.3em;
}