.footer{
    height: 1100px;
    background-color: black;
}
.foot-logo{
    width: 7em;
}
.copy{
    color: gray;
    font-size: 1.1em;
    font-family: "Sora";
    margin-top: 2em;
}
.menus{
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 2em;
}
.menus a{
    font-family: "Bricolage Grotesque";
    color: white;
    font-size: 1.1em;
}
.logos{
    display: flex;
    gap: 1em;
}
.money-point{
    display: flex;
    gap: 5em;
}
.payss{
    border-right: 1px solid gainsboro;
    width: 8em;
}.sos{
    width: 1em;
    border-radius: 30px;
    margin-top: 0.1em;
    margin-left: 0.4em;

    

}
.so{
    background-color: white;
    width: 2em;
    height: 2em;
    text-align: center;
    border-radius: 50px;
    display: flex;
    gap: 2.7em;
}
.ss{
    width: 1.3em;
    margin-top: 0.6em;
    margin-left: 0.3em;
    height: 1em;
}
.inst{
    background-color: white;
    width: 2em;
    height: 2em;
    border-radius: 50px;
    display: flex;
    gap: 2.7em;
}
.twitt{
    display: flex;
    flex-direction: column;
    gap: 1.4em;
    margin-top: 0.5em;
}
.sus{
    color: white;
    font-family: "Bricolage Grotesque";
    font-size: 1.2em;
    margin-top: 0.4em;
}
.tel{
   display: flex; 
   gap: 2em;
}
a{
    color: white;
    font-family: "Sora";
    font-size: 1.1em;
}
.pany{
    font-family: "Sora";
}
.help{
    font-family: "Bricolage Grotesque";
    font-size: 1.4em;
    font-weight: 700;
}
.soc{
    font-family: "Bricolage Grotesque";
    font-weight: 700;
    font-size: 1.3em;
    margin-top: 1em;
}
.need{
    display: flex;
    flex-direction: column;
    gap: 3em;
}
.social{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.footer-container{
    display: flex;
    gap: 27em;
    align-items: center;
    justify-content: center;
    padding: 5em;
}
.flag{
    width: 1.6em;
    height: 1.6em;
    border-radius: 50px;
    margin-left: -3em;
}
.flg{
    width: 1.6em;
    height: 1.6em;
    border-radius: 50px;
    margin-left: -3em;
}
.ad{
color: white;
font-family: "Bricolage Grotesque";
font-size: 1.1em;
margin-top: 0.1em;
}
.canada{
    display: flex;
    gap: 0.5em;
}
.us{
    display: flex;
    gap: 0.5em;
}
.florida{
    display: flex;
    gap: 0.5em;
}
.uk{
    display: flex;
    gap: 0.5em;
}
.base{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1.5em;
}
.loco{
    font-size: 1.5em;
    font-weight: 700;
    margin-left: -13em;
    margin-top: -2em;
}
.location{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(65, 63, 63);
    height: 20em;
    width: 78em;
    margin: auto;
    margin-top: -2em;
    
    
}
.ail{
    color: grey;
    font-family: "Sora";
    font-size: 0.8em;
    line-height: 2;
    
}
.tail{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    padding: 0em 2em 0em 2em;
     
     
}
@media screen and (max-width:375px){
    .footer{
        margin-top: 5em;
        height: 1760px;
    }
    .company{
        display: none;
    }
    .menus{
        display: flex;
        flex-direction: column;
    }
    .menus a{
        gap: 2em;
    }
    .compo{
    
    }
    .footer-container{
        display: flex;
        flex-direction: column;
        margin-left: -14em;
        gap: 0.1em;
    }
    .location{
        border-bottom: 1px solid grey;
        width: 20em;
        margin-left: 2em;
    }
    .need{
        margin-left: 7em;
        margin-top: 4em;
    }
    .nee{
        margin-top: -10em;
    
    }
    .link{
        margin-top: -2em;
    }
    .soc{
        margin-top: 1em;
    }
    .location{
        
    }
    .loco{
        margin-left: -9em;
    }
    .base{
        margin-left: 2em;
    }
    .ad{
        margin-left: 0.5em;
    }
    .flag{
        margin-top: 0.5em;
    }
    .so{
        display: flex;
    }
    .sus{
        margin-left: 2em;
    }
}
