header{
    background-color: black;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    position: sticky;
}
.pays{
    width: 8em;
}
.blog{
    display: flex;
    gap: 3em;
}
.men{
    display: none;
}
.blog li a{
font-family: "Epilogue";
color: white;
word-spacing:normal;


}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18em;
}
.gram li a{
    font-family: "Epilogue";
    color: white;
    font-size: 1em;
    
}
select[name="products"]{
   border: none;
   background-color: black;
   color: white;
   font-size: 1em;
   font-weight: 400;
   font-family: "Epilogue";
}
@media screen and (max-width:375px){
    .menu{
        display: none;
    }
    .gram{
        display: none;
    }
    .men{
        display: block;
    }
    .pay-logo{
        margin-left: 5em;
        display: flex;
        
    }
    header{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    position: sticky;
    height: 4em;
    }
    .pays{
        width: 7em;
        margin-top: -0.5em;
        margin-left: -5em;
    }
    .men{
        display: block;
        margin-left: 14em;
    
    }
    nav{
        display: flex;
    }
        
    
}