.money-account{
    height: 570px;
}
.sent{
    width: 22em;
    
}
.spent{
    width: 22em;
}
.account{
    width: 22em;
}
.money-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7em 4em 7em 4em;
    gap: 3em;
}
.sen{
    text-align: center;
    font-size: 2.6em;
    color: rgb(50, 48, 48)
}
.seconds{
    text-align: center;
    font-family: "Bricolage Grotesque";
    font-size: 1.4em;
    line-height: 1.5;
}
@media screen and (max-width:500px){
    .money-container{
        display: flex;
        flex-direction: column;
        margin-top: -3em;
        
    }
    .sent{
        width: 20em;
    }
    .spent{
        width: 20em;
        margin-left: 1.5em;
    }
    .account{
        width: 20em;
        margin-top: 1em;
    }
    .money-account{
        height: 1240px;
    }

}

@media screen and (max-width:450px){
    .money-container{
        display: flex;
        flex-direction: column;
        margin-top: -3em;
        
    }
    .sent{
        width: 20em;
    }
    .spent{
        width: 20em;
        margin-left: 1.5em;
    }
    .account{
        width: 20em;
        margin-top: 1em;
    }
    .money-account{
        height: 1240px;
    }
}
@media screen and (max-width:375px){
    .money-container{
        display: flex;
        flex-direction: column;
        margin-top: -3em;
        
    }
    .sent{
        width: 20em;
    }
    .spent{
        width: 20em;
        margin-left: 1.5em;
    }
    .account{
        width: 20em;
        margin-top: 1em;
    }
    .money-account{
        height: 1240px;
    }
}