.payday-app{
    height: 700px;
}
.download{
    font-size: 4em;
    color: white;
    margin-top: -5.7em;
    
    
}
.mix{
    width: 78em;
    height: 26em;
    
}
.Apps{
    text-align: center;
    margin-top: -2em;
    
}
.wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    gap: 2em;
}
.as{
    color: black;
    font-size: 2em;
}
.tech{
    width: 10em;
}
.teech{
    width: 10em;
}
.techh{
    width: 3.5em;
}
.headline{
    text-align: center;
    margin-top: 6em;
}
.bottom-col{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5em;
    margin-top: 2em;
}
.download{
    display: block;
}
.mobil-text{
    display: none;
}

@media screen and (max-width:375px){
    .mix{
        width: 22em;
        height: 27em;
        margin-top: -9em;
        border-radius: 2em;
    }
    .download{
        display: none;
    }
    .mobil-text{
        display: block;
        margin-top: -25em;
    }
    .mob{
        color: white;
        font-size: 2em;
        font-family: "Sora";
        font-weight: 700;
    }
    .wrap{
          display: flex;
          flex-direction: column;
          gap: 1em;
    }
    .Apps{
        margin-top: -9em;
    }
    .bottom-col{
        display: flex;
        flex-direction: column;
        margin-top: 1em;
        
    }
    .headline{
         margin-top: 4em;
    }
    .img1{
        display: flex;
        margin-top: 1em;

    }
    .img2{
        margin-top: 1em;
    }
    .techh{
        margin-left: 2em;
    }
    .img3{
        display: flex;
        margin-top: 1em;
    }
    .teech{
        margin-left: 2em;
    }
    .tech{
        width: 8em;
    }
    .techh{
        width: 2.5em;
    }
    
    
    
}
