.space-container{
    background-color: black;
    height: 600px;
}
h1{
    color: white;
    font-family: "Sora";
    font-size: 4.9em;
}
.usd{
    color: white;
    font-family: "Bricolage Grotesque";
    font-size: 1.6em;
}

.app{
    width: 1em;
    
}
.ply{
    width: 3em;
    background-color: none;
}
.app-stor{
    background-color: beige;
    max-width: 10em;
}
.play-stor{
    background-color: white;
    max-width: 10em;
}
h2{
    font-family: "Bricolage Grotesque";
    font-size: 1.1em;
}
h4{
    font-family: "Encode Sans";
    font-size: 0.9em;
    font-weight:300;
}
.big-apple{
    display: flex;
    gap: 1em;
}