.space-container{
    background-color: black;
    height: 609px;
}
h1{
    color: white;
    font-family: "Sora";
    font-size: 3.7em;
}
.usd{
    color: white;
    font-family: "Bricolage Grotesque";
    font-size: 1.6em;
    margin-top: 1em;
    line-height: 1.5;

}

.app{
    width: 1.5em;
    
}
.ply{
    width: 2em;
    background-color: none;
}
.app-stor{
    background-color: beige;
    min-width: 11em;
    height: 3.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8em;
    border-radius: 30px;
}
.play-stor{
    background-color: white;
    min-width: 11em;
    height: 3.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8em;
    border-radius: 30px;
}
.neobank{
    border: 1px solid white;

}
.euro{
    width:42em;
    height: 42em;
    margin-top: -4em;
    
}
.container{
    display: flex;
    border: 1px solid white;
    height: 38em;
    gap: 2em;
}
h2{
    font-family: "Bricolage Grotesque";
    font-size: 1.1em;
}
h4{
    font-family: "Encode Sans";
    font-size: 0.9em;
    font-weight:300;
}
.big-apple{
    display: flex;
    gap: 1em;
    margin-left: 8em;
    margin-top: 2em;
}
.strs{
    width: 1.5em;
    margin-top: 0.5em;

}
h3{
    color: white;
    font-family: "Bricolage Grotesque";
    font-weight: 500;
}
.rate{
    color: white;
    font-family: "Bricolage Grotesque";
    font-size: 1.2em;
    margin-top: 0.5em;
}
.mouse{
    display: flex;
    gap: 2em;
    margin-top: 2em;
    margin-left: 8em;
}
.main-mouse{
    border-right: 1px solid rgb(104, 103, 103);
    width: 3.5em;
    
}
.mous{
    padding: 0.5em 0.2em 0.5em 0.2em;
}
.spac{
    max-width: 35em;
    height: 43em;
    margin-top: -3em;
}
.small-con{
    height: 30em;  
}
.man{
    
}
.neo{
    margin-left: 1em;
}
.usd{
    margin-left: 5em;
}

